<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>1.html</title>
	<script src="./vue.js"></script>
</head>
<body>
	<div>
		
		dasf
	</div>
	<div id="app">
		<div>
			<input type="text" v-model="inputValue">
			<button v-on:click="handleBtnClidk">提交</button>
		</div>
		<ul>
			<li v-for="(item, index) of list">
				{{item}} 
				<button v-on:click="handleDelete(index)">delete</button>
			</li>
		</ul>
	</div>

	<script>
		var vm = new Vue({
			el : "#app",
			data : {
				inputValue : "",
				list : []
			},
			created: function() {
				//在实例被创建之后执行的代码
				// 生命周期钩子的 this 上下文指向调用它的 Vue 实例
			},
			methods : {
				handleBtnClidk : function () {
					this.list.push(this.inputValue);
					this.inputValue = "";
				},
				handleDelete : function (index) {
					this.list.splice(index, 1);
					// alert(index)
				}				
			}
		})
	</script>
</body>
</html>
<!--
	值得注意的是只有当实例被创建时 data 中存在的属性才是响应式的。也就是说如果你添加一个新的属性，比如：
	vm.b = 'hi'
	那么对 b 的改动将不会触发任何视图的更新。

-->
