*{
	margin: 0;
	padding: 0;
}
body{
}
ul,ol,li{
	list-style: none;
}
img{
	margin: 0;
}
#main{
	width: 1280px;
	height: 968px;
	background-color: #0064a7;
	margin: 0px auto;
	background-image: url(../images/bg.png);
	background-repeat:no-repeat;
	background-size: 100% 100%;
}
header{
	width: 1000px;
	height: 116px;
	margin: 0px auto;

	/*background: #834CB2FF;*/

}

header>div:first-child{
	width: 546px;
	height: 65px;
	float: right;
	/*background:#62A658FF;*/
}
header>div:first-child>div p{
	color: #fff;
	font-size: 18px;
	
}
.ul{
	width: 426px;
	line-height: 100%;

	/*background: #32CC5CFF;*/
	float: right;
}
.ul li{
	color: #fff;
	float: left;
	text-align: center;
}
.ul .li1{
	width: 70px;
	padding: 0px 11px 0px 11px;
	border-right: 1px solid #6b8ead;
}
.ul .li2{
	width: 70px;
	padding: 0px 11px 0px 11px;
	border-left: 1px solid #fff;
}
.ul .li3{
	width: 128px;
	/*background: red;*/

}
.ul .li3 input:first-child{
	width: 105px;
	height: 16px;
	display: block;
	float: left;
	border: none;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}
.ul .li3 input:last-child{
	width: 23px;
	height: 16px;
	display: block;
	float: left;
	border: none;
	background: orange;
	border-radius: 0px 8px 8px 0px;
}
.ul .li4{
	width: 112px;
	/*background: red;*/
}
header>div:last-child{
	width: 1000px;
	height: 49px;
	clear: both;
	/*background: pink;*/
	border: 1px solid #e8e8e8;
	border-radius: 8px;
}
#logo{
	float: left;
}
#logo img{
	border-radius:6px 0px 0px 6px;
}
.nav ul{
	float: left;
}
.nav ul li{
	float: left;
	width: 92px;
	height: 49px;
	line-height: 49px;
	text-align: center;
	background: linear-gradient(to bottom,#fff,#d8d8d8);
	border-left: 1px solid #f5f5f5;
	border-right: 1px solod #e3e3e3;
}

.nav ul .li4{
	width: 95px;
}
.nav ul .li8{
	width: 100px;
	border-radius: 0px 6px 6px 0px;
}
/*mid*/
#mid{
	height: 340px;
	margin: 0px auto;
	
}
#mid header{
	font-size: 34px;
	color: white;
	margin-top: 112px;
}
#mid header span{
	color: orange;
}
#mid section{
	width: 1000px;
	height: 177px;
	margin: 0px auto;
	background: pink;
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.banner{
	display: block;
	width: 940px;
	height: 124px;
	margin: 0px auto;
	/*line-height: 177px;*/
	/*height: 124px;*/
	background: red;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.banner li{
	width: 188px;
	height: 124px;
	padding-right: 10px;
	padding-left: 10px;
}
.banner li:nth-child(1){
	background: #37C764FF;
}
.banner li:nth-child(2){
	
	background: orange;
}




#bottom{

	width: 1000px;
	height: 400px;
	background: #1D69E1FF;
	margin: 0px auto;
}
