html {
  font-size: 10px;
}
.header{
  width: 100rem;
  height: 4rem;
  margin: 0px auto;
  background: #C3CB9D;
  .title{
    position: relative;
    top: 30%;
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-shadow: .2rem .1rem .2rem #3A62C8;
  }
}
.mid-content{
  width: 100rem;
  margin: 0px auto;



}

